// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



header {
    padding: 0px 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #6f53bc;
}

header h1 {
    line-height: 60px;
}

table {
    
    text-align: center;
    padding: 10px;
}